treechildren::-moz-tree-image(modules_mapping_mapping){
	list-style-image: url(/changeicons/small/mapping.png) ;
}
treechildren::-moz-tree-image(modules_mapping_rectarea){
	list-style-image: url(/changeicons/small/shape-rectangle.png) ;
}
treechildren::-moz-tree-image(modules_mapping_circarea){
	list-style-image: url(/changeicons/small/shape-circle.png) ;
}
treechildren::-moz-tree-image(modules_mapping_polyarea){
	list-style-image: url(/changeicons/small/shape-polygon.png) ;
}

treechildren::-moz-tree-image(modules_mapping_area){
	list-style-image: url(/changeicons/small/document.png);
}