
mappingeditor {
	-moz-binding: url(binding:modules.mapping.editor.mapping.areaeditor#mappingeditor);
}

mappingarea.rectarea {
	-moz-binding: url(binding:modules.mapping.editor.mapping.areaeditor#rectarea);
}

mappingarea.circlearea {
	-moz-binding: url(binding:modules.mapping.editor.mapping.areaeditor#circlearea);
}

mappingarea.polygonarea {
	-moz-binding: url(binding:modules.mapping.editor.mapping.areaeditor#polygonarea);
}

cfield[fieldtype="zonesinfolist"]{
	-moz-binding: url(binding:modules.mapping.editor.mapping.areaeditor#czonesinfolist);
}